.logo{
    flex: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

img{
    object-fit: scale-down;
    max-height: calc(400px - 135px);
    max-width: 400px;
}

#entrar{
    width: 100%;
}

#subcaja{
    display: flex;
    flex-direction: column;
}