html, body{
    height: 100%;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px;
    border-radius: 3px;
    padding: 75px;
    position: relative;
}

#minicabecera{
    position: absolute;
    top: 0px;
    left: 20px;
    right: 20px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#minipie{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
}

#logocolegio{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu{
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
}

.submenu{
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
}

.menu-general{
    display: flex;
    overflow: auto;
}
.submenu-elemento.menu-elemento-general{
    width: 94px;
}

.menu-elemento-general{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 3px;
    height: 94px;
}

.menu-elemento-animacion{
    transition-duration: 0.3s;
    cursor: pointer;
}


.menu-elemento-contenido{
    margin: 5%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    
}

.menu-elemento.menu-elemento-animacion:hover{
    transform: scale(0.95);
}

.submenu-elemento.menu-elemento-animacion:hover{
    transform: scale(0.90);
}

.menu-elemento:nth-child(4n-3){
    background-color: firebrick;
}

.menu-elemento:nth-child(4n-2){
    background-color: blueviolet;
}

.menu-elemento:nth-child(4n-1){
    background-color: darkgreen;
}

.menu-elemento:nth-child(4n+0){
    background-color: goldenrod;
}

.submenu-elemento:nth-child(8n-7){
    background-color: orangered;
}
.submenu-elemento:nth-child(8n-6){
    background-color: darkgreen;
}
.submenu-elemento:nth-child(8n-5){
    background-color: indigo;
}
.submenu-elemento:nth-child(8n-4){
    background-color: goldenrod;
}
.submenu-elemento:nth-child(8n-3){
    background-color: midnightblue;
}
.submenu-elemento:nth-child(8n-2){
    background-color: darkred;
}
.submenu-elemento:nth-child(8n-1){
    background-color: black;
}
.submenu-elemento:nth-child(8n-0){
    background-color: violet;
}

.submenu-elemento-contenido{
    margin: 5%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    font-size: 10px;
}

.gris{
    background: gray !important;
}

.submenu.menu-general.alter .submenu-elemento:nth-child(8n-7){
    background-color: midnightblue;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-6){
    background-color: darkred;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-5){
    background-color: black;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-4){
    background-color: violet;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-3){
    background-color: orangered;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-2){
    background-color: darkgreen;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-1){
    background-color: indigo;
}
.submenu.menu-general.alter .submenu-elemento:nth-child(8n-0){
    background-color: goldenrod;
}

